
@mixin main-screen {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 15px double white;
    width: 75%;
    height: 70%;
    max-width: 1100px; 
    max-height: 90%; 
    background: linear-gradient(to bottom, rgb(7, 249, 67), rgb(0,0,0));
    color: $fifth-color;
}

@mixin cards{
    margin-top: .5em;
    outline: 15px double black;
    height: 300px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

@mixin card-position{
    display: flex;
    justify-content: space-around;
}

@mixin result-card {
    position: relative;
    outline: 5px double $third-color;
    height: 100px;
    width: 175px;
    color: $third-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

// @mixin congrats-styles {
//     background: linear-gradient(to bottom, rgb(12, 231, 67), rgb(1,1,1));
//     width: 100vw;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 6em;
//     text-shadow: 10px 10px 10px rgb(136, 22, 22, .9);
//     letter-spacing: -8px;
//     pointer-events: none;
// }
