$primary-color: gold;
$secondary-color: green;
$third-color: white;
$fourth-color: black;
$fifth-color: rgb(207, 109, 125);



$font-sizes: (
    small: 1em,
    medium: 2em,
    Large: 4em,
    X-large: 5em,
)
