/*Style body*/
body{
    background-image: url("./Assets/slot-machine-background.jpg"); /*Pexel.com by Paul Ijesendoorn. Free to use, title "Panorama Photography of High-rise Buildings".*/
    background-size: cover;
    

    
}

h1{
    color: gold;
    text-align: left;
    font-size: 2em;
}

/*Set up main game screen*/
main{
    position: relative;
    inset: 20% 25% 25% 20%;
    outline: 15px double lightgreen;
    width: 50em;
    height: 40em;
    background: linear-gradient(to bottom, rgb(7, 249, 67), rgb(0, 0, 0));
    color:pink;
    
    
}

#result-card{
    position: relative;
    top: -2em;
    left: 2.5em;
    outline: 5px double rgb(236, 237, 234);
    height: 100px;
    width: 180px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
   

}


#score-card{
    position: relative;
    top: -8em;
    left: 36em;
    outline: 5px double rgb(236, 237, 234);
    height: 100px;
    width: 180px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
   

}


/*Set up and decorate 3 cards for slot machine inside main game screen*/
.card-class{
    display: flex;
    justify-content: space-around;
    
}


#card-1, #card-2, #card-3{
    margin-top: .5em;
    outline: 15px double black;
    height: 300px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}


/*Set up and decorate spin button*/

button{
    position: relative;
    top: 3em;
    left:8em ;
    font-size: xx-large;
    height: 3em;
    width: 9em;
    background: linear-gradient(to bottom, rgb(12, 231, 67), rgb(1, 31, 1));
    border-radius: 40px;
}







